esphome:
  name: esp-fan-ctrl
  friendly_name: ESP_FAN_CTRL

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "gTCkHrrqSOzlky2lnPNcaFTPOxHDi7IVuLN7efMpx8I="

ota:
  - platform: esphome
    password: "9b6b632e2677c89043137ad4cfbde342"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp-Fan-Ctrl Fallback Hotspot"
    password: "B8J2mbYqfefB"

output:
  - platform: slow_pwm
    pin: GPIO10
    id: 'StateLED'
    period: 200ms
  - platform: ledc
    pin: GPIO19
    id: IO_BUZZ_PWM
    frequency: 500HZ
  - platform: ledc
    pin: GPIO5
    id: IO_FAN_PWM
    frequency: 1000HZ

light:
#状态指示LED
  - platform: monochromatic
    output: StateLED
    gamma_correct: 1.0
    name: "StateLED"
    restore_mode: RESTORE_DEFAULT_ON
  - platform: monochromatic
    output: IO_BUZZ_PWM
    gamma_correct: 1
    name: "LIGHT_PWM"
    id: BUZZ_PWM
    default_transition_length: 2s  # 关键：设置默认过渡时间为0秒
  - platform: monochromatic
    output: IO_FAN_PWM
    gamma_correct: 1
    name: "FAN_PWM"
    id: FAN_PWM
    default_transition_length: 1s  # 关键：设置默认过渡时间为0秒
  #RGB灯带
  - platform: neopixelbus
    type: GRB
    variant: 800kbps
    pin: GPIO2
    num_leds: 8
    name: "环形灯带"
    id: led_ring
    restore_mode: RESTORE_DEFAULT_ON  # 恢复上次状态，第一次启动时关闭
    
    effects:
      # 只使用内置呼吸效果
      - pulse:
          name: "呼吸效果"
          transition_length: 3s
          update_interval: 3s
          min_brightness: 30%
          max_brightness: 100%
      
      # 简单颜色变化效果
      - random:
          name: "随机颜色"
          transition_length: 2s
          update_interval: 5s

sensor:
  #电源电压监控
  - platform: adc
    pin: GPIO0
    id: PowerVoltage
    attenuation: 12db
    update_interval: 1s
    name: "电源电压"
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 10   # 窗口大小（10个点）
          send_every: 1     # 每1个点发送一次
      - multiply: 11
  # 风扇转速检查（启用内部上拉电阻）
  - platform: pulse_counter
    pin:
      number: GPIO6
      mode: INPUT_PULLUP  # 关键修改：启用内部上拉
    name: 'FunSpeed1'
    update_interval: 1s
    unit_of_measurement: 'RPM'
    filters:
      - multiply: 0.5
  # 风扇转速检查（启用内部上拉电阻）
  - platform: pulse_counter
    pin:
      number: GPIO7
      mode: INPUT_PULLUP  # 关键修改：启用内部上拉
    name: 'FunSpeed2'
    update_interval: 1s
    unit_of_measurement: 'RPM'
    filters:
      - multiply: 0.5

captive_portal:
    