esphome:
  name: esp-heat-ctrl
  friendly_name: ESP_HEAT_CTRL

esp32:
  board: esp32-c3-devkitm-1
  framework:
    type: arduino

# Enable logging
logger:


# 1. 定义全局变量
globals:
  - id: TargetTemp
    type: int
    restore_value: yes  # 是否在重启后恢复
    initial_value: '60'

# Enable Home Assistant API
api:
  encryption:
    key: "Pn9W5f1UVm4kRUs2pFnCsq+AgUSEjmP3d+9XMRhfiBM="
  services:
    - service: update_custom_var  # 服务名称
      variables:
        value: float  # 接收的参数
      then:
        - globals.set:
            id: TargetTemp
            value: !lambda 'return value;'
        - logger.log:
            format: "AAAAAAAAAAAAAAAA变量更新为: %.2f"
            args: [value]

ota:
  - platform: esphome
    password: "689c850bb8b1a4ae0b35ee9c40a31fce"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp-Heat-Ctrl Fallback Hotspot"
    password: "jbgnE4aXNp5J"

output:
  - platform: ledc
    pin: GPIO19
    id: IO_BUZZ_PWM
    frequency: 100HZ
  #加热控制
  - platform: ledc
    pin: GPIO10
    id: IO_HEAT_PWM
    frequency: 100HZ
    inverted: true
  #风扇控制
  - platform: ledc
    pin: GPIO5
    id: IO_FAN_PWM
    frequency: 100HZ

light:
  - platform: monochromatic
    output: IO_BUZZ_PWM
    gamma_correct: 1
    name: "BUZZ_PWM"
    id: BUZZ_PWM
    default_transition_length: 0s  # 关键：设置默认过渡时间为0秒
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: monochromatic
    output: IO_HEAT_PWM
    gamma_correct: 1
    name: "HEAT_PWM"
    id: HEAT_PWM
    default_transition_length: 0s  # 关键：设置默认过渡时间为0秒
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: monochromatic
    output: IO_FAN_PWM
    gamma_correct: 1
    name: "FAN_PWM"
    id: FAN_PWM
    default_transition_length: 0s  # 关键：设置默认过渡时间为0秒
    restore_mode: RESTORE_AND_ON
  #RGB灯带
  - platform: neopixelbus
    type: GRB
    variant: 800kbps
    pin: GPIO18
    num_leds: 8
    name: "环形灯带"
    id: led_ring
    restore_mode: RESTORE_AND_ON  # 恢复上次状态，第一次启动时关闭
    
    effects:
      # 只使用内置呼吸效果
      - pulse:
          name: "呼吸效果"
          transition_length: 3s
          update_interval: 3s
          min_brightness: 30%
          max_brightness: 100%
      
      # 简单颜色变化效果
      - random:
          name: "随机颜色"
          transition_length: 2s
          update_interval: 5s

# I2C配置
i2c:
  scl: GPIO6
  sda: GPIO7

  scan: true  # 调试时可查看I2C设备




# Example configuration entry
sensor:
  - platform: template
    name: "TargetTemp"
    id: var_sensor
    lambda: |-
      return id(TargetTemp);
    update_interval: 5s  # 更新间隔

  #电源电压监控
  - platform: adc
    pin: GPIO4
    id: PowerVoltage
    attenuation: 12db
    update_interval: 1s
    name: "电源电压"
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 10   # 窗口大小（10个点）
          send_every: 1     # 每1个点发送一次
      - multiply: 11

  #电源电流监控
  - platform: adc
    pin: GPIO0
    id: AmmeterCheck
    attenuation: 12db
    update_interval: 10ms
    name: "HEAT_AMMETER"
    unit_of_measurement: "A"  # 改为安培
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 1000   # 窗口大小（10个点）
          send_every: 100    # 每10个点发送一次（即每次更新都是10个点的平均值）
      - lambda: |-
          static float zero_v = 2.5;
          if(!(id(HEAT_PWM).current_values.is_on()))
          {
            zero_v = x;
          }

          return (zero_v - x)/1.92*20;//因为我们的5V电压实际只有4.8V所以0~20A对应的电压差是0~1.92V
  # 当前功率
  - platform: template
    name: "HeatPower"
    unit_of_measurement: "W"
    lambda: |-
      return id(AmmeterCheck).state * id(PowerVoltage).state;
    update_interval: 1s
  #NTC温度传感器1
  - platform: adc
    pin: GPIO1
    id: NTC_TEMP1
    attenuation: 12db
    update_interval: 1s
    name: "NTC温度传感器1"
    unit_of_measurement: "°C"
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 10   # 窗口大小（10个点）
          send_every: 1     # 每1个点发送一次
      - lambda: |-
          float r_ntc = x/((3.3 - x)/3000); // 计算电阻
          float r_log = log(r_ntc);
          float temp_k = 1/(0.0008676 + 0.00025933*r_log + 0.0000001248*r_log*r_log*r_log);
          return temp_k - 273.15;

  #NTC温度传感器2
  - platform: adc
    pin: GPIO2
    id: NTC_TEMP2
    attenuation: 12db
    update_interval: 100ms
    name: "NTC温度传感器2"
    unit_of_measurement: "°C"  
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 10   # 窗口大小（10个点）
          send_every: 1     # 每1个点发送一次
      - lambda: |-
          float r_ntc = x/((3.3 - x)/3000); // 计算电阻
          float r_log = log(r_ntc);
          float temp_k = 1/(0.0008676 + 0.00025933*r_log + 0.0000001248*r_log*r_log*r_log);
          float temp_c = temp_k - 273.15;

          if(temp_c >= 40)//加热丝温度高于40°C时自动开启风扇
          {
            auto call = id(FAN_PWM).turn_on();
            call.set_brightness(1);
            call.perform();
          }
          else if(temp_c <= 37)//加热丝温度低于于37°C时自动关闭风扇
          {
            auto call = id(FAN_PWM).turn_on();
            call.set_brightness(0);
            call.perform();
          }

          return temp_c;

  #NTC温度传感器3
  - platform: adc
    pin: GPIO3
    id: NTC_TEMP3
    attenuation: 12db
    update_interval: 100ms
    name: "NTC温度传感器3"
    unit_of_measurement: "°C"  # 改为伏特
    filters:
      - sliding_window_moving_average:  # 滑动窗口平均滤波器
          window_size: 10   # 窗口大小（10个点）
          send_every: 1     # 每1个点发送一次
      - lambda: |-
          float r_ntc = x/((3.3 - x)/3000); // 计算电阻
          float r_log = log(r_ntc);
          float temp_k = 1/(0.0008676 + 0.00025933*r_log + 0.0000001248*r_log*r_log*r_log);
          float temp_c = temp_k - 273.15;

          static float Kp = 0.08;
          static float Ki = 0.0003;
          static float KiOut = 0;

          if(id(HEAT_PWM).current_values.is_on())
          {
            float Ek = id(TargetTemp) - temp_c;

            float KpOut = Ek*Kp;
            KiOut = KiOut + Ek*Ki;

            if(KiOut > 0.8)
            {
              KiOut = 0.8;
            }
            else if(KiOut <= -0.8)
            {
              KiOut = -0.8;
            }
            float PwmOut = KiOut + KpOut;

            if(PwmOut > 1)
            {
              PwmOut = 1;
            }
            else if(PwmOut < 0)
            {
              PwmOut = 0.01;
            }

            auto call = id(HEAT_PWM).turn_on();
            call.set_brightness(PwmOut);
            call.perform();
          }

          return temp_c;

      
  - platform: aht10
    temperature:
      name: "AHT10_TEMP"
      unit_of_measurement: "°C"
      accuracy_decimals: 1
      id: temp_aht21
    humidity:
      name: "AHT10_HUM"
      unit_of_measurement: "%"
      accuracy_decimals: 1
      id: hum_aht21
    address: 0x38
    update_interval: 1s


captive_portal:
    