esphome:
  name: esp-hum-ctrl
  friendly_name: ESP_HUM_CTRL
  platformio_options:
    board_build.flash_mode: dio
    board_build.mcu: esp32c3
  on_boot:
    priority: 600  # 高优先级，确保在WiFi连接前执行
    then:
      - output.turn_on: pulse_output
      - delay: 10ms
      - output.turn_off: pulse_output
      - delay: 10ms
      - output.turn_on: pulse_output

esp32:
    board: esp32-c3-devkitm-1
    variant: esp32c3
    framework:
      type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "T2niqi9SlCNW4igOWo5lvfi63XqIJqLy3xLITZkFaPs="

ota:
  - platform: esphome
    password: "e8b925bccc50013dac25c6ccf44de69a"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp-Hum-Ctrl Fallback Hotspot"
    password: "GnV5geU6sdXt"

# 配置输出组件（控制信号引脚）
output:
  - platform: gpio
    pin: GPIO4  # 替换为实际使用的引脚号
    id: pulse_output
    inverted: false  # 根据实际电路调整电平方向

# 配置开关组件（生成脉冲）
switch:
  - platform: template
    name: "ON/OF"
    restore_mode: ALWAYS_ON
    turn_on_action:
      then:
        # 开启输出 -> 等待 10ms -> 关闭输出
        - output.turn_on: pulse_output
        - delay: 100ms
        - output.turn_off: pulse_output
        - delay: 100ms
        - output.turn_on: pulse_output

    turn_off_action:
      then:
        # 开启输出 -> 等待 10ms -> 关闭输出
        - output.turn_on: pulse_output
        - delay: 100ms
        - output.turn_off: pulse_output
        - delay: 100ms
        - output.turn_on: pulse_output


sensor:
  - platform: dht
    pin: GPIO2
    temperature:
      name: "Temperature"
    humidity:
      name: "Humidity"
    update_interval: 1s

binary_sensor:
  - platform: gpio
    name: "POWER_CHECK"
    pin: GPIO3

captive_portal:
    